<head>
    <title>List of Issues in <%= repoName %> Repository</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style>
        .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
    </style>
</head>
<body>
    <h1>Issues</h1>
    <h2><%= repoName %> by <%= ownerName %></h2>
    <div>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>ID</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < Ids.length ; i++){ %>
                    <tr>
                        <td><%= (i+1) %></td>
                        <td><%= Ids[i] %></td>
                        <td><%= Titles[i] %></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</body>